<!DOCTYPE html>
<html>
<head>
    <title>Jogos Nintendo Switch ML</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <style>
    body {
        text-align: center;
    }
    #app {
        max-width: 1550px;
        margin: auto;
        padding: 0 15px;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .max-sized {
        margin: auto;
        max-width: 500px;
    }
    .pointer {
        cursor: pointer;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    @media (min-width: 300px) {
        .products {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 650px) {
        .products {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (min-width: 800px) {
        .products {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (min-width: 1200px) {
        .products {
            grid-template-columns: repeat(6, 1fr);
        }
    }
    </style>
</head>
<body>
    <div id="app" class="d-none">
        <div class="messages mt-2" v-if="messages.length > 0">
            <div class="alert alert-warning" v-for="message, index in messages">
                {{ message }}
                <button type="button" class="close" aria-label="Close" @click="dismissMessage(index)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="d-md-flex justify-content-between">
            <div class="px-2 flex-grow-1">
                <h3 class="mb-3">Watch list</h3>
                <div class="max-sized terms mt-2">
                    <p
                        v-if="!watchlistError && terms.length === 0"
                        class="bg-light border rounded text-center p-1"
                        @click="watchlist"
                    >Load default</p>
                    <template v-for="term, index in terms">
                        <p
                            v-if="_.filter(products, { term }).length === 0"
                            class="bg-light border rounded text-center p-1 pointer"
                            @click="loadProducts(index)"
                        >
                            {{ term | ucWords }}
                            <button type="button" class="close" aria-label="Close" @click="removeTerm($event, index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                    </template>
                    <input type="text" class="w-100 bg-light border rounded text-center py-1" v-model="newTerm" placeholder="New item" @keypress="addTerm">
                </div>
            </div>
            <hr class="d-md-none">
            <div class="px-2 flex-grow-1">
                <h3>Configuration</h3>
                <div class="max-sized category d-flex mt-3">
                    <span class="mr-2 mt-1">Category:</span>
                    <div class="flex-grow-1">
                        <p class="w-100 bg-light border rounded text-center mb-0 p-1">
                            <template v-if="categoryName && categoryId">
                                {{ categoryName }}
                                <button type="button" class="close" aria-label="Clear" @click="categoryName = null; categoryId = null">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </template>
                            <template v-else>
                                <span class="text-muted">Select one</span>
                            </template>
                        </p>
                        <template v-if="categoryList.length > 0">
                            <small v-if="categoryName && categoryId" class="mt-2">Subcategories:</small>
                            <div class="bg-light border rounded">
                                <small
                                    v-for="categoryItem in categoryList"
                                    class="d-block text-center m-0 py-1 pointer"
                                    @click="categoryName = categoryItem.name; categoryId = categoryItem.id"
                                >{{ categoryItem.name }}</small>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="max-sized attributes d-flex mt-3" v-if="categoryAttrs.length > 0">
                    <span class="mr-2 mt-1">Attributes:</span>
                    <div class="flex-grow-1">
                        <p class="w-100 bg-light border rounded text-center mb-0 p-1 pointer" @click="showCategoryAttrs = !showCategoryAttrs">
                            {{ showCategoryAttrs ? 'hide' : 'show' }} attributes
                            <button type="button" class="close" aria-label="Toggle visibility">↕️</button>
                        </p>
                        <div v-if="showCategoryAttrs" v-for="attribute in categoryAttrs" :key="attribute.id" class="d-flex mt-1 mw-100">
                            <span :title="attribute.name" class="text-truncate w-25">{{ attribute.name }}:</span>
                            <select class="flex-grow-1 ml-2 w-75" v-model="attribute.selected">
                                <option value="null"></option>
                                <option v-for="option in attribute.values" :value="option.id">{{ option.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="max-sized attributes d-flex mt-3" v-if="categoryAttrs.length > 0">
                    <span class="mr-2 mt-1">Price:</span>
                    <input type="text" class="flex-grow-1 bg-light border rounded text-center py-1" v-model="priceMin" placeholder="minimum">
                    &nbsp;-&nbsp;
                    <input type="text" class="flex-grow-1 bg-light border rounded text-center py-1" v-model="priceMax" placeholder="maximum">
                </div>
                <div class="max-sized zipcode d-flex align-items-center mt-3">
                    <span class="mr-2">Zipcode:</span>
                    <input type="text" class="flex-grow-1 bg-light border rounded text-center py-1" v-model="zipcode" @keyup="storeZipcode">
                </div>
            </div>
        </div>
        <hr>
        <template v-for="(group, index) in products">
            <h3 class="mt-3 px-5">
                {{ group.term | ucWords }}
                <button type="button" class="close" aria-label="Clear" @click="unloadProducts(index)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h3>
            <div v-if="group.results" class="products mt-2">
                <template v-if="group.results.length === 0">
                    <div class="p-2 bg-light border text-center d-flex flex-column justify-content-between">
                        <p>Nenhum resultado</p>
                    </div>
                </template>
                <template v-for="product in _.sortBy(group.results, 'price')">
                    <div v-if="product" class="p-2 bg-light border text-center d-flex flex-column justify-content-between">
                        <p><a :href="product.permalink" target="_blank">{{ product.title }}</a></p>
                        <a :href="product.permalink" target="_blank"><img :src="product.thumbnail.replace('http://', 'https://')" class="m-auto"></a>
                        <p class="mb-0">
                            <template v-if="product.shipping.details">
                                {{ product.price + _.filter(product.shipping.details.options, { display: 'recommended' })[0].cost | currency }}
                                <small v-if="product.shipping.details">
                                    {{ product.price | currency }}
                                </small>
                            </template>
                            <template v-else>{{ product.price | currency }}</template>
                        </p>
                        <p>
                            <small v-if="product.shipping.mode === 'not_specified'">
                                a combinar ({{ product.seller_address.state.id }} - {{ product.seller_address.city.name }})
                            </small>
                            <small v-if="product.shipping.mode === 'me2' && zipcode.length === 8">
                                <template v-if="product.shipping.details">
                                    <template v-if="_.filter(product.shipping.details.options, { display: 'recommended' })[0].cost > 0">
                                        + {{ _.filter(product.shipping.details.options, { display: 'recommended' })[0].cost | currency }} envio
                                    </template>
                                    <template v-else>envio grátis</template>
                                    ({{ _.filter(product.shipping.details.options, { display: 'recommended' })[0].name }})
                                </template>
                                <template v-else>calculando envio</template>
                            </small>
                        </span>
                        <p v-if="product.seller.details">
                            <a :href="product.seller.details.permalink" :title="product.seller.details.nickname" target="_blank">
                                <i class="fas fa-square" :style="`color: ${getReputationColor(product.seller.details.seller_reputation.level_id)};`"></i>
                            </a>
                            <small>{{ _.values(product.seller.details.seller_reputation.transactions.ratings).map(value => _.round(value * 100) + '%').join(' / ') }}</small>
                            -
                            <small>{{ product.seller.details.seller_reputation.transactions.canceled }}/{{ product.seller.details.seller_reputation.transactions.completed }}</small>
                        </p>
                    </div>
                </template>
            </div>
        </template>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        let localStorageKey = 'mlSearchTerms'
        let app = new Vue({
            el: '#app',
            data: () => ({
                newTerm: '',
                watchlistError: false,
                terms: JSON.parse(localStorage.getItem(localStorageKey)) || [],
                categoryName: localStorage.getItem(localStorageKey + 'CategoryName') || 'Video Games',
                categoryId: localStorage.getItem(localStorageKey + 'CategoryId') || 'MLB186456',
                categoryList: [],
                categoryAttrs: JSON.parse(localStorage.getItem(localStorageKey + 'CategoryAttrs')) || [],
                showCategoryAttrs: false,
                priceMin: localStorage.getItem(localStorageKey + 'PriceMin'),
                priceMax: localStorage.getItem(localStorageKey + 'PriceMax'),
                zipcode: localStorage.getItem(localStorageKey + 'Zipcode') || '',
                messages: [],
                products: []
            }),
            filters: {
                currency(value) {
                    return value ? value.toLocaleString('defaut', { style: 'currency', currency: 'BRL' }) : ''
                },
                ucWords(value) {
                    return value ? value.replace(/\b\w/g, match => match.toUpperCase()) : ''
                }
            },
            created() {
                this.loadCategories()
                this.loadCategoriesAttributes()
            },
            mounted() {
                this.$el.classList.remove('d-none')
            },
            methods: {
                getReputationColor(value) {
                    let key = (value || '0').split('_')[0]
                    return _.get(['lightgray', 'red', 'orange', 'gold', 'lightgreen', 'green'], key)
                },
                addTerm(event) {
                    if (event.keyCode === event.DOM_VK_RETURN) {
                        this.terms.push(this.newTerm.toLowerCase())
                        this.newTerm = ''
                        this.storeTerms()
                    }
                },
                removeTerm(event, index) {
                    event.stopPropagation()
                    this.terms = _.reject(this.terms, (term, key) => key === index)
                    this.storeTerms()
                },
                dismissMessage(index) {
                    this.messages = _.reject(this.messages, (term, key) => key === index)
                },
                watchlist() {
                    fetch('./watch-list.json').then(resp => {
                        if (resp.status === 200) {
                            resp.json().then(data => {
                                this.terms = data
                                this.storeTerms
                            })
                        } else {
                            this.watchlistError = true
                            this.messages.push('Unable to load watch list')
                        }
                    })
                },
                loadCategories() {
                    this.categoryList = []
                    this.categoryId
                        ? fetch('https://api.mercadolibre.com/categories/' + this.categoryId).then(resp => {
                            resp.json().then(data => this.categoryList = data.children_categories)
                        })
                        : fetch('https://api.mercadolibre.com/sites/MLB/categories').then(resp => {
                            resp.json().then(data => this.categoryList = data)
                        })
                },
                loadCategoriesAttributes() {
                    if (!this.categoryId) {
                        return
                    }
                    const previous = this.categoryAttrs
                    this.categoryAttrs = []
                    fetch(`https://api.mercadolibre.com/categories/${this.categoryId}/attributes`).then(resp => {
                        resp.json().then(data => {
                            this.categoryAttrs = _.filter(data, 'values').map(attribute => {
                                const index = previous.findIndex(attr => attr.id === attribute.id)
                                return Object.assign(_.pick(attribute, ['id', 'name', 'values']), {
                                    selected: ~index ? previous[index].selected : null
                                })
                            })
                        })
                    })
                },
                storeTerms() {
                    localStorage.setItem(localStorageKey, JSON.stringify(this.terms))
                },
                storeZipcode: _.debounce(function () {
                    localStorage.setItem(localStorageKey + 'Zipcode', this.zipcode)
                }, 400),
                search(search) {
                    let url = 'https://api.mercadolibre.com/sites/MLB/search?'
                    let query = {
                        category: this.categoryId
                    ,   q: search
                    ,   sort: 'price_asc'
                    // ,   shipping_quarantine: 'guaranteed_delivery'
                    }
                    if (this.priceMin || this.priceMax) {
                        query.price = `${this.priceMin}-${this.priceMax}`
                    }
                    _.filter(this.categoryAttrs, 'selected').forEach(attribute => query[attribute.id] = attribute.selected)
                    return fetch(url + $.param(query)).then(resp => resp.json())
                },
                seller(id) {
                    return fetch('https://api.mercadolibre.com/users/' + id).then(resp => resp.json())
                },
                shipping(id, zipcode) {
                    return fetch(`https://api.mercadolibre.com/items/${id}/shipping_options?zip_code=${zipcode}` ).then(resp => resp.json())
                },
                unloadProducts(index) {
                    Vue.delete(this.products, index);
                },
                loadProducts(index) {
                    let term = this.terms[index]
                    let productIndex = this.products.length
                    Vue.set(this.products, productIndex, { term });
                    this.search(term).then(data => {
                        data.paging.total > 50 && this.messages.push(term + ' tem mais de 50 resultados')
                        Vue.set(this.products[productIndex], 'results', _.reject(data.results, product => {
                            let title = product.title.toLocaleLowerCase()
                            return title.indexOf('3ds') > -1 ||
                                title.indexOf('wii') > -1 ||
                                title.indexOf('fones') > -1 ||
                                title.indexOf('digitais') > -1 ||
                                title.indexOf('digital') > -1 ||
                                title.indexOf('amiibo') > -1 ||
                                _.filter(product.attributes, {
                                    id: 'BRAND',
                                    value_name: 'Amiibo'
                                }).length > 0;
                        }))
                    }).then(() => {
                        this.loadSellers(productIndex)
                    }).then(() => {
                        this.loadShippings(productIndex)
                    })
                },
                loadSellers(productIndex) {
                    this.products[productIndex].results.reduce((promise, product, index) => {
                        return promise.then(() => {
                            return this.seller(product.seller.id).then(data => {
                                Vue.set(this.products[productIndex].results[index].seller, 'details', data)
                                // data.seller_reputation.level_id === '1_red' && delete this.products[term][index]
                            })
                        })
                    }, $.Deferred().resolve())
                },
                loadShippings(productIndex) {
                    this.zipcode.length === 8 && this.products[productIndex].results.reduce((promise, product, index) => {
                        return product.shipping.mode === 'me2' ? promise.then(() => {
                            return this.shipping(product.id, this.zipcode).then(data => {
                                Vue.set(this.products[productIndex].results[index].shipping, 'details', data)
                            })
                        }) : promise;
                    }, $.Deferred().resolve())
                }
            },
            watch: {
                categoryId() {
                    this.loadCategories()
                    this.categoryId
                        ? localStorage.setItem(localStorageKey + 'CategoryId', this.categoryId)
                        : localStorage.removeItem(localStorageKey + 'CategoryId')
                },
                categoryName() {
                    this.categoryName
                        ? localStorage.setItem(localStorageKey + 'CategoryName', this.categoryName)
                        : localStorage.removeItem(localStorageKey + 'CategoryName')
                },
                priceMin() {
                    this.priceMin
                        ? localStorage.setItem(localStorageKey + 'PriceMin', this.priceMin)
                        : localStorage.removeItem(localStorageKey + 'PriceMin')
                },
                priceMax() {
                    this.priceMax
                        ? localStorage.setItem(localStorageKey + 'PriceMax', this.priceMax)
                        : localStorage.removeItem(localStorageKey + 'PriceMax')
                },
                categoryAttrs: {
                    deep: true,
                    handler(categoryAttrs, to) {
                        localStorage.setItem(localStorageKey + 'CategoryAttrs', JSON.stringify(categoryAttrs))
                    }
                }
            }
        })
    </script>
</body>

</html>

