<!DOCTYPE html>
<html>
<head>
    <title>Jogos Nintendo Switch ML</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <style>
    body {
        text-align: center;
    }
    #app {
        max-width: 1550px;
        margin: auto;
        padding: 0 15px;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .terms {
        margin: auto;
        max-width: 500px;
    }
    .terms > * {
        cursor: pointer;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    @media (min-width: 300px) {
        .products {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 650px) {
        .products {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (min-width: 800px) {
        .products {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (min-width: 1200px) {
        .products {
            grid-template-columns: repeat(6, 1fr);
        }
    }
    </style>
</head>
<body>
    <div id="app">
        <div class="messages mt-2" v-if="messages.length > 0">
            <div class="alert alert-warning" v-for="message, index in messages">
                {{ message }}
                <button type="button" class="close" aria-label="Close" @click="dismissMessage(index)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="terms mt-2">
            <p
                v-if="!watchlistError && terms.length === 0"
                class="bg-light border rounded text-center p-1"
                @click="watchlist"
            >Load watch list</p>
            <template v-for="term, index in terms">
                <p
                    v-if="_.filter(products, { term }).length === 0"
                    class="bg-light border rounded text-center p-1"
                    @click="load(index)"
                >
                    {{ term | ucWords }}
                    <button type="button" class="close" aria-label="Close" @click="removeTerm($event, index)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            </template>
            <input type="text" class="w-100 bg-light border rounded text-center py-1" v-model="newTerm" @keypress="addTerm">
        </div>
        <template v-for="group in products">
            <h3 class="mt-3 px-5">{{ group.term | ucWords }}</h3>
            <div v-if="group.results" class="products mt-2">
                <template v-if="group.results.length === 0">
                    <div class="p-2 bg-light border text-center d-flex flex-column justify-content-between">
                        <p>Nenhum resultado</p>
                    </div>
                </template>
                <template v-for="product in _.sortBy(group.results, 'price')">
                    <div v-if="product" class="p-2 bg-light border text-center d-flex flex-column justify-content-between">
                        <p><a :href="product.permalink" target="_blank">{{ product.title }}</a></p>
                        <a :href="product.permalink" target="_blank"><img :src="product.thumbnail" class="m-auto"></a>
                        <p>{{ product.price.toLocaleString('defaut', { style: 'currency', currency: 'BRL' }) }}</p>
                        <p v-if="product.seller.details">
                            <a :href="product.seller.details.permalink" :title="product.seller.details.nickname" target="_blank">
                                <i class="fas fa-square" :style="`color: ${getReputationColor(product.seller.details.seller_reputation.level_id)};`"></i>
                            </a>
                            <small>{{ _.values(product.seller.details.seller_reputation.transactions.ratings).map(value => _.round(value * 100) + '%').join(' / ') }}</small>
                            -
                            <small>{{ product.seller.details.seller_reputation.transactions.canceled }}/{{ product.seller.details.seller_reputation.transactions.completed }}</small>
                        </p>
                    </div>
                </template>
            </div>
        </template>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        function search(search) {
            let url = 'https://api.mercadolibre.com/sites/MLB/search?'
            let query = $.param({
                category: 'MLB186456'
            ,   q: search
            ,   price: '160.0-260.0'
            ,   sort: 'price_asc'
            // ,   shipping_quarantine: 'guaranteed_delivery'
            ,   ITEM_CONDITION: 2230581
            ,   VIDEO_GAME_PLATFORM:424952
            })
            return fetch(url + query);
        }
        async function seller (id) {
            let resp = await fetch('https://api.mercadolibre.com/users/' + id)
            return await resp.json()
        }
        let raw = {}
        let localStorageKey = 'mlSearchTerms'
        let app = new Vue({
            el: '#app',
            data: () => ({
                newTerm: '',
                watchlistError: false,
                terms: JSON.parse(localStorage.getItem(localStorageKey)) || [],
                messages: [],
                products: []
            }),
            filters: {
                ucWords: function (value) {
                    return value ? value.replace(/\b\w/g, match => match.toUpperCase()) : ''
                }
            },
            methods: {
                getReputationColor: function (value) {
                    let key = (value || '0').split('_')[0]
                    return _.get(['lightgray', 'red', 'orange', 'gold', 'lightgreen', 'green'], key)
                },
                addTerm: function (event) {
                    if (event.keyCode === event.DOM_VK_RETURN) {
                        this.terms.push(this.newTerm.toLowerCase())
                        this.newTerm = ''
                        this.storeTerms()
                    }
                },
                removeTerm: function (event, index) {
                    event.stopPropagation()
                    this.terms = _.reject(this.terms, (term, key) => key === index)
                    this.storeTerms()
                },
                dismissMessage: function (index) {
                    this.messages = _.reject(this.messages, (term, key) => key === index)
                },
                watchlist: function () {
                    fetch('./watch-list.json').then(resp => {
                        if (resp.status === 200) {
                            resp.json().then(data => {
                                this.terms = data
                                this.storeTerms
                            })
                        } else {
                            this.watchlistError = true
                            this.messages.push('Unable to load watch list')
                        }
                    })
                },
                storeTerms: function () {
                    localStorage.setItem(localStorageKey, JSON.stringify(this.terms))
                },
                load: function (index) {
                    let term = this.terms[index]
                    let productIndex = this.products.length
                    Vue.set(this.products, productIndex, { term });
                    search(term).then(resp => {
                        return resp.json().then(data => {
                            data.paging.total > 50 && this.messages.push(term + ' tem mais de 50 resultados')
                            raw[term] = data
                            Vue.set(this.products[productIndex], 'results', _.reject(data.results, product => {
                                let title = product.title.toLocaleLowerCase()
                                return title.indexOf('3ds') > -1 ||
                                    title.indexOf('wii') > -1 ||
                                    title.indexOf('fones') > -1 ||
                                    title.indexOf('digitais') > -1 ||
                                    title.indexOf('digital') > -1 ||
                                    title.indexOf('amiibo') > -1 ||
                                    _.filter(product.attributes, {
                                        id: 'BRAND',
                                        value_name: 'Amiibo'
                                    }).length > 0;
                            }))
                        })
                    }).then(() => {
                        this.products[this.products.length - 1].results.map((product, index) => {
                            seller(product.seller.id).then(data => {
                                Vue.set(this.products[this.products.length - 1].results[index].seller, 'details', data)
                                // data.seller_reputation.level_id === '1_red' && delete this.products[term][index]
                            })
                        })
                    })
                }
            }
        })
    </script>
</body>

</html>

